


<div class="center">

	<h1>FitGOAL</h1>
	<br>
	</br>
</div>
	<br>
	<h3><div id="signup">
		
			
		<button class="btn md ghost">
			<%= link_to "Start Now", new_user_registration_path %>
		</button>


	</div></h3>
	<br>
	<br>
	<br>
	<div id="homedesc">
	<h3>FitGOAL is an online tool to help people achieve their health goals. 
		Whether you are a fitness expert or are just starting on your fitness journey FitGOAL is the tool for you.</h3>
	</div>

