

<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<%= javascript_include_tag 'home.js' -%>

	<section>
		<div class="row">
			<div class="fitgoal">
				<h1 id="target"style="color:#00D900;font-size:150px;">fitGoal</h1>
			</div>
			</div>
	</section>
			<div class="center">
				<div class="dbtn green">
					<%= link_to "Start Now", new_user_registration_path %>
				</div>
			</div>
			

	<section class="section2">
		<div class="container">
			<br>
			<br>
			<br>
			<div id="homedesc" class="span4">
				
				
				<h3 id="one">fitGoal is an online tool to help people achieve their health goals.</h3>
		
				<h3 id="two">Whether you are a fitness expert or are just starting on your fitness journey,</h3>
				<h3 id="three">fitGoal is the tool for you.</h3>
			</div>
		</div>

	</section>

