

<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
<%= javascript_include_tag 'home.js' -%>
<div class="center">


	<h1 id="fit">Fit</h1><h1 id="goal">GOAL</h1>
	<br>
	</br>

	<div class="header">
		<h1>fitGoal</h1>
		<br>
		</br>
	</div>

</div>
	<br>
	

	<h3><div id="signup">
		
		<div class="row">	
		<button class="btn md ghost">
			<%= link_to "Start Now", new_user_registration_path %>
		</button>
	</div>


	</div></h3>
	<br>
	<br>
	<br>
	<div id="homedesc">
		<h3>fitGoal is an online tool to help people achieve their health goals.</h3>
		<h3>Whether you are a fitness expert or are just starting</h3>
		<h3> on your fitness journey fitGoal is the tool for you.</h3>
	</div>

