/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */
@import "railsbricks_custom";

.center{
	text-align:center;
}
a{
	text-decoration:none;
}
h1{
	font-family: 'Russo One', sans-serif;
	font-weight: bolder;
	padding: 10px;
	color: red;
	font-size:2.3em;
}

body{
	background: url(running.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x:hidden;
}

li,ul,body,input{
	margin:0; 
	padding:0; 
	list-style:none
}

#login-form{
	width:350px; background:#FFF; 
	margin:0 auto; 
	margin-top:50px; 
	background:#f8f8f8; 
	overflow:hidden; 
	border-radius:7px
}
.form-header{
	display:table; 
	clear:both
}
.form-header label{
	display:block; 
	cursor:pointer; 
	z-index:999;
}
.form-header li{
	margin:0; 
	line-height:60px; 
	width:175px; 
	text-align:center; 
	background:#eee; 
	font-size:18px; 
	float:left; 
	transition:all 600ms ease
}

/*sectiop*/
.section-out{
	width:700px; 
	float:left; 
	transition:all 600ms ease
}
.section-out:after{
	content:''; 
	clear:both; 
	display:table;
}
.section-out section{
	width:350px; 
	float:left;
}

.login{
	padding:20px
}
.ul-list{
	clear:both; 
	display:table; width:100%
}
.ul-list:after{
	content:''; 
	clear:both; 
	display:table
}
.ul-list li{ 
	margin:0 auto; 
	margin-bottom:12px
}
.input{
	background:#fff; 
	transition:all 800ms; 
	width:247px; 
	border-radius:3px 0 0 3px; 
	font-family: 'Ropa Sans', sans-serif; 
	border:solid 1px #ccc; 
	border-right:none; 
	outline:none; 
	color:#999; 
	height:40px; 
	line-height:40px; 
	display:inline-block; 
	padding-left:10px; 
	font-size:16px
}
.input,.login span.icon{
	vertical-align:top
}
.login span.icon{
	width:50px; 
	transition:all 800ms; 
	text-align:center; 
	color:#999; height:40px; 
	border-radius:0 3px 3px 0; 
	background:#e8e8e8; 
	height:40px; 
	line-height:40px; 
	display:inline-block; 
	border:solid 1px #ccc; 
	border-left:none; 
	font-size:16px;
}
.input:focus:invalid{
	border-color:red;
}
.input:focus:invalid+.icon{
	border-color:red;
}
.input:focus:valid{
	border-color:green;
}
.input:focus:valid+.icon{
	border-color:green;
}
#check,#check1{
	top:1px; 
	position:relative;
}
.btn{
	border:none; 
	outline:none; 
	background:#0099CC; 
	border-bottom:solid 4px #006699; 
	font-family: 'Ropa Sans', sans-serif; 
	margin:0 auto; 
	display:block; 
	height:40px; 
	width:100%; 
	padding:0 10px; 
	border-radius:3px; 
	font-size:16px; 
	color:#FFF;
}
.form a i.fa{
	line-height:35px;
}
.fb{
	background:#305891;
	} 
.tw{
	background:#2ca8d2;
	} 
.gp{
	background:#ce4d39;
} 
.in{background:#006699}
.remember{
	width:50%; 
	display:inline-block; 
	clear:both; 
	font-size:14px;
}
.remember:nth-child(2){
	text-align:right;
}
.remember a{
	text-decoration:none; 
	color:#666;
}
.hide{
	display:none;
}
/*swich form*/
#signup:checked~.section-out{
	margin-left:-350px;
}
#login:checked~.section-out{
	margin-left:0px;
}
#login:checked~div .form-header li:nth-child(1),#signup:checked~div .form-header li:nth-child(2){
	background:#e8e8e8;
}

#signin{
	width:50%;
	display:inline-block;
	height:120%;
}

.form-group{
	color:white
}

#signin a:hover{
	background-color:white;
}

#signup a:hover{
	background-color:white
}


#signup{
	width:35%;
	display:inline-block;
	margin-right:90%;

}

#homedesc{
	font-family: 'Fjalla One', sans-serif;
	width:50%;
	text-align:center;
	line-height:1em;
	color:white;
	margin-left:25%;
	position:relative;

}

.btn {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  width:25%;
  margin-left:auto;
  margin-right:auto
}

.md {
  width: 100%;
}

.ghost {
  background-color: black;
  color: #fff;
  border: 1px solid red;
  
  transition: .2s ease;
  
  &:hover {
    background-color: #fff;
    color: white;
    
    transition: .2s ease;
  }

}



 h1{
  font-family: 'Ubuntu Mono';
  font-weight: bolder;
  font-size: 45px;
}


.fitgoal{
	z-index:-1;
	font-color:#0FBE0F;
	float:right;
	text-shadow: 3px 3px 50px green
}

.section2{

	margin-right:0;
	margin-left:0;
	background-color:black;
	opacity: 0.4;
	height:252px;
	text-shadow: 3px 3px 50px #fff



}

.navbar{
	position:fixed;
	width:100%;
	z-index:1;

}

.row{
	margin-top:2%;
}

#one{
	position:relative;
	left:1000px;
}

#two{
	position:relative;
	right:1000px;
}

#three{
	position:relative;
	left:1000px;
}

.dbtn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  width:30%;
}

.dbtn:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}

.green:hover {
  color: #fff;
  background-color: #2ecc71;
}

.alert{
	margin-top:5%;
} 

a{
	color: #2ecc71;
}

.greenheaders{
	color: #fff;
}



