@media all and (max-width:375px){
	.weight_inputs{
		width:5%;
	}
}



body{
	background: url(whitewoodtextre.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x:hidden;

}

#current_weight_bmi {
	border:3px  solid black;
}

#lbs_to_goal {
	border: 2px solid black;
}

#cals_to_goal {
	border: 3px solid black;
}

#cals_to_goal p {
	margin: 2px;
}

#user_card {
	width: 25%;
	padding: 2px;
	float:left;
	opacity:0;


}

#user_card h1{
	color:#0FBE0F;
	text-shadow: 3px 3px 50px #72e25a
}

#username {
	font-size: 20px;
}

.calculations{
	display:inline-block;
	float:right;
	background-color:white;
	opacity:0.6;
	width:0%;
	margin-left:5%;
	margin-top:6.25%;
	font-color:black;
	border-width: 5px;
	border-color:black;
}

.weight_inputs{
	
	width:25%;
	margin-top:5%;


}

.column1{
	float:left;
	width:50%;
	padding:5px;
}

.column2{
	float:right;
	width:50%;
	padding:5px;
}

.quotes{
	float:right;
	height:30%;
	width:0%;
	margin-top:0%;
}

.quotes h1{
	font-family:"Lobster", cursive;
	color:#0FBE0F;

}
hr{
	padding:1px;
	margin:0 auto;
	width:90%;
	text-align:center;
	 border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


p{

	font-size:14px;
	padding:5px;
}

#bmi{
	border:2px;
}

@media all and (max-width:375px){
	#user_card h1{
		font-size:20px;
	}
}

